body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    background-color: pink;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #222;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }